<html>
	<body>
		<form method="post" action="{% url 'updateAction' %}">
			{% csrf_token %}
			{% for v in  product %}
				<input type="hidden" name="id" value="{{v.id}}">
				<table>
				<tr>
				<td>Product Name</td>
				<td><input type="text" name="product"  value="{{v.prodname}}"></td>
				</tr>

				<tr>
				<td>File</td>
				
				<td><img src="{{v.file.url}}" height="100px" width="100px" alt="no pic"></td>
				<td><input type="file" name="file"></td>
				</tr>
			
				<tr>
				<td>Price</td>
				<td><input type="text" name="price" value="{{v.price}}"></td>
				</tr>

				<tr>
				<td>Details</td>
				<td><textarea name="details"  row="4"  coloumns="4">{{v.details}}</textarea></td>
				</tr>
			
				<tr>
				<td>Stock</td>
				<td><input type="text" name="stock" value="{{v.stock}}"></td>
				</tr>
			
				<tr>
				<td>Category</td>
				<td>
				<select  name="category">
					<option value="{{v.categoryid.id}}">{{v.categoryid.category_name}}</option>
					{% for p in category %}
					<option value="{{p.id}}">
					{{p.category_name}}</option>
					{% endfor %}
					</select>
					</td>
					</tr>
				
					<tr>
					<td></td>
					<td><input type="submit"   value="update"></td>
					</tr>
		

			</table>
			{% endfor %}
		</form>
	</body>
</html>