<html>
	<body>
		<form method="post" action="{% url 'newpasswordAction' %}">
			{% csrf_token %}
			<table>
				<input type="hidden" name="username" value="{{data}}">
				<tr>
				<td>Name</td>
				<td><input type="text" name="name"></td>
				</tr>

				<tr>
				<td>DOB</td>
				<td><input type="date" name="dob"></td>
				</tr>

				<tr>
				<td>country</td>
				<td><select name="country" id="country">
					<option value="">--select--</option>
					<option value="INDIA">INDIA</option>
					<option value="JAPAN">JAPAN</option>
					<option value="BHUTAN">BHUTAN</option>
					</select></td>
				</tr>

				<tr>
				<td></td>

				<td><input type="submit" value="forgotpassword"></td>
				</tr>
			</table>
		</form>
</body>
</html>