<html>
	<body>
		<table>
			<tr>
				<th>ProductName</th>
				<th>File</th>
				<th>Price</th>
				<th>Details</th>
				<th>Stock</th>
				<th>Category</th>
			</tr>
			{% for v in product %}
			<tr>
				<td>{{v.prodname}}</td>
				<td>
				<img src="{{v.file.url}}" height="100px" width="100px" alt="no pic">
				
				</td>
				<td>{{v.price}}</td>
				<td>{{v.details}}</td>
				<td>{{v.stock}}</td>
				<td>{{v.categoryid.category_name}}</td>
				<td><a href="{% url 'delete' v.id %}">Delete</a></td>
				<td><a href="{% url 'edit' v.id %}">Edit</a></td>
			</tr>
			{% endfor %}
		</table>
		</body>
</html>